.basket-list{
  padding: 10px;
  margin:0 auto;
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px 70px;
  border: 1px solid black;
  border-radius: 10px;
}
.container{
  margin-top: 1%;
}
.search-box{
  margin-bottom: 15px;
}
.group-count{
  font-size: 12px;
  color: white;
  background-color: gray;
  padding: 7px;
  margin-left:-11px;
}
.productName{
  font-size: 18px;
}
.productNameTitle{
  color: red;
}

.overflow{
  font-size:48px;
  color: red;
  overflow: auto !important;
}
